.boritokep img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.boritokep {
  grid-area: 1 / 1;
}

.card .rating,
.card img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card p,
.card h3 {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.outerCard {
  overflow: hidden;
  background-color: rgba(121, 121, 121, 0.1);
  border-radius: var(--border-radius);
  transition: 0.3s;
  height: min-content;
  box-shadow: var(--glow-inset);
}

.background img {
  filter: blur(14px) brightness(40%);
  height: 35em;
  width: 100%;
  scale: 110%;
}

.background {
  z-index: -1;
  position: relative;
  top: -400px;
  height: 0;
}

.checkboxWrapper {
  accent-color: var(--primary-light);
  grid-area: 1 / 1;
  z-index: 1;
  margin: 0;
  align-self: start;
  justify-self: left;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
}

.checkbox {
  transform: scale(150%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.selected {
  outline: 2px solid var(--primary-light);
}

.network {
  display: flex;
  margin: 0rem;
  flex-wrap: wrap;
}

.network p {
  padding: 0.5rem;
  background-color: black;
}

.filters {
  display: grid;
  grid-row: 1/1;
  grid-column: 1/-1;
}

.toolbarWrapper {
  background-color: rgba(255, 255, 255, 0.623);
  color: black;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  position: sticky;
  top: 20px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  backdrop-filter: blur(10px);
  grid-row: 1/1;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarWrapper div {
  background-color: white;
  margin: 0.1rem;
  padding: 0.4rem;
  border-radius: var(--border-radius);
  margin-inline: 1rem;
}
