.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 15px;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid .loading {
  height: 310px;
  background-color: gray;
  width: 100%;
}

.network {
  display: flex;
  margin: 0rem;
}

.network p {
  padding: 0.5rem;
  background-color: black;
}
